body{
    background-color: black;
    color: white;
}

#resultado{
    color: yellow;
    margin-top: 25px;
}

#botao{
    border-radius: 25px;
    height: 25px;
    font-weight: bold;
}